name: Pinglow CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  rust-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run tests
        run: cargo test --all

  doc-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Generate openapi specification
        run: cargo run -p pinglow --bin generate-openapi --features openapi-docs

      - name: Install dependencies
        working-directory: docs
        run: npm ci

      - name: Generate dyanmic openapi menu
        working-directory: docs
        run: python src/scripts/generateOpenapiMenu.py

      - name: Build the doc
        working-directory: docs
        run: npm run build

